################################################
#   ╔═╗╔╦╗╦╔╦╗╔═╗╦═╗┌─┐┌─┐┌┐┌┌─┐┬┌─┐
#   ║╣  ║║║ ║ ║ ║╠╦╝│  │ ││││├┤ ││ ┬
#  o╚═╝═╩╝╩ ╩ ╚═╝╩╚═└─┘└─┘┘└┘└  ┴└─┘
#
# > Formatting conventions for your Sails app.
#
# This file (`.editorconfig`) exists to help
# maintain consistent formatting throughout the
# files in your Sails app.
#
# For the sake of convention, the Sails team's
# preferred settings are included here out of the
# box.  You can also change this file to fit your
# team's preferences (for example, if all of the
# developers on your team have a strong preference
# for tabs over spaces),
#
# To review what each of these options mean, see:
# http://editorconfig.org/
#
################################################
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
indent_size = 2

###############################
# .NET C# Coding Conventions  #
###############################

[*.cs]
#IDE1006
# Defining the 'all_methods' symbol group
dotnet_naming_symbols.all_methods.applicable_kinds = method
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public
dotnet_naming_symbols.public_symbols.required_modifiers         = readonly
# Defining the 'first_word_upper_case_style' naming style
dotnet_naming_style.camel_case_style.capitalization = camel_case

# Defining the 'all_methods_must_be_camel_case' naming rule, by setting the
# symbol group to the 'public symbols' symbol group,
dotnet_naming_rule.all_methods_must_be_camel_case.symbols  = all_methods
# setting the naming style to the 'first_word_upper_case_style' naming style,
dotnet_naming_rule.all_methods_must_be_camel_case.style    = camel_case_style
# and setting the severity.
dotnet_naming_rule.all_methods_must_be_camel_case.severity = warning

# Due clean code suggestion

# CA1034: Los tipos anidados no deben ser visibles
dotnet_diagnostic.CA1034.severity = none

# CA1002: No exponer listas genéricas
dotnet_diagnostic.CA1002.severity = none

# CA1707: Los identificadores no deben contener caracteres de subrayado
dotnet_diagnostic.CA1707.severity = none

# CA1308: Normalizar las cadenas en mayúsculas
dotnet_diagnostic.CA1308.severity = none


[*.{cs,vb}]
# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0074.severity = none

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none
