# yamllint disable rule:line-length
# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
# yamllint enable rule:line-length

---
name: dotNET Lint

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

jobs:
  lint:
    name: "Run LINT"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "windows-2025", "ubuntu-24.04", "macos-14"]
        dotnet-version: [9.0.x, 10.0.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Tooling check
        run: >
          dotnet --version
      - name: Restore dependencies
        run: dotnet restore
      - name: Lint (codestyle)
        run: dotnet format --verify-no-changes --verbosity normal
